@page "/Account/AccountLocked"
@model MyEF2.WebApp.Pages.Account.AccountLockedModel
@{
	Layout = "_GeneralBlockLayout";
    ViewData["Title"] = "Account Locked";
}

<div>
    Your account has been locked by an Administrator so you cannot actively login.
</div>