@page
@model MyEF2.WebApp.Pages.Account.ChangePasswordModel
@{
}
<div class="col-md-6">
    <!-- general form elements -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Change Password</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="post" enctype="multipart/form-data">
            <div class="card-body">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label for="txtCurrentPassword" asp-for="CurrentPassword">Current Password</label>
                    <input type="password" asp-for="CurrentPassword" class="form-control" id="txtCurrentPassword" placeholder="Current Password">
                </div>
                <div class="form-group">
                    <label for="txtPassword" asp-for="Password">Password</label>
                    <input type="password" asp-for="Password" class="form-control" id="txtPassword" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="txtConfirmPassword" asp-for="ConfirmPassword">Confirm Password</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" id="txtConfirmPassword" placeholder="Confirm Password">
                </div>
            </div>
            <div class="card-footer">
                <br>
                <button type="submit" class="btn btn-success" name="action" value="submit">Change Password</button>


            </div>
        </form>
        <!-- form end -->
    </div>
</div>
<!-- /.card -->
