@page "/Account/NotAllowed"
@model MyEF2.WebApp.Pages.Account.NotAllowedModel
@{
	Layout = "_GeneralBlockLayout";
    ViewData["Title"] = "Not Allowed";
}

<div>
    Our identity provider detected that you are not allowed to login. This might be due to your email address not being verified. Click the button below to generate a new account activation request via email.
</div>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" asp-for="EmailAddress">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-success btn-block">Request new Account Verification</button>
            </div>
            <!-- /.col -->
        </div>
    </form>
    <p class="mt-3 mb-1">
        <a href="Login">Login</a>
    </p>