@page
@model MyEF2.WebApp.Pages.Account.PasswordResetModel
@{
	Layout = "_GeneralBlockLayout";
}
<p class="login-box-msg">Enter and Confirm your new password</p>
    <form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" asp-for="PasswordConfirm.Password">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Confirm Password" asp-for="PasswordConfirm.ConfirmPassword">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-success btn-block">Set Password</button>
            </div>
            <!-- /.col -->
        </div>
    </form>
    <p class="mt-3 mb-1">
        <a href="Login">Login</a>
    </p>