@page
@model MyEF2.WebApp.Pages.Account.RegisterConfirmationModel
@{
	Layout="_GeneralBlockLayout";
}
<div>
    An email has been sent to your registered address. Please locate this email and verify your address by clicking on the activation link. You will need to click the verify link before being able to login.
    <a href="NotAllowed">Click Here</a> if you need us to send another email verification.
</div>