@page "/Account/Unauthorised"
@model MyEF2.WebApp.Pages.Account.UnauthorisedModel
@{
    Layout = "_GeneralBlockLayout";
    ViewData["Title"] = "Unauthorised";
}
<div>
    You are not authorised to access this page. Your Single Signon process was successful, however you do not have an existing account with this application,
    and auto account registration isn't enabled
</div>
