@page
@model MyEF2.WebApp.Pages.UpdateDatabaseModel
@{
    ViewData["Title"] = "Update Database";
    Layout = "_EmptyLayout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link rel="icon" href="~/favicon.png" type="image/png">
    
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card">
            <div class="card-header text-center">
                <a href="../Index" class="h1">
                    <img src="~/dist/img/Logo.png" style="max-width:300px" />
                </a>
            </div>
            <div class="card-body">
                <h2>Database Updates Required</h2>
                <div>Database updates are required for the database, click the button below to execute migrations.</div>
                <form method="post">
                    
                    
                    <div class="mb-3">
                        <button type="submit" class="btn btn-success btn-block">Run Migrations</button>
                    </div>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    
</body>
</html>