@page "/Administration/Stripe/Products/Success/{id?}"
@model MyEF2.WebApp.Pages.Administration.Stripe.Products.SuccessModel
@{
    ViewData["Title"] = "Stripe Success";
    Layout = "_GeneralLayout";
}
<h1>Stripe Successful</h1>