@page "/SAML/{id?}"
@model MyEF2.WebApp.Pages.SAML.IndexModel
@{
    Layout = "_LoginLayout";

    ViewData["Title"] = "Single Signon";
}
	<div asp-validation-summary="All" class="text-danger"></div>
